
@using WebApplication4.Models
@model IEnumerable<WebApplication4.Models.UsuarioRead>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Crear">Crear</a>
</p>
<h6>Existen @ViewBag.cantidad elementos (Viewbag) </h6>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (UsuarioRead item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRol)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalle" asp-route-id="@item.Id">Detalles</a> |
                    <a href="javascript:void(0)" id="@item.Id" class="delete-prompt">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h6>Existen @ViewData["cantidadVD"] elementos (ViewData)</h6>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmacion de eliminacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está a punto de eliminar un registro, realmente desea hacerlo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger delete-confirm">Si, Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var Id;
        $('.delete-prompt').click(function () {
            Id = $(this).attr('id');
            $('#modalEliminar').modal('show');
        });

        $('.delete-confirm').click(function () {
            if (Id != '') {
                $.ajax({
                    url: '/Usuarios/Delete',
                    data: { 'id': Id },
                    type: 'get',
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }, error: function (err) {
                        if (!$('.modal-header').hasClass('alert-danger')) {
                            $('.modal-header').removeClass('alert-success').addClass('alert-danger');
                            $('.delete-confirm').css('display', 'none');
                        }
                        $('.success-message').html(err.statusText);
                    }
                });
            }
        });
    </script>

}